{{ define "main" }}
	<main class="page-container">
		{{ $listtitle := .Title }}
		{{ if or .Title .Content }}
		<div>
			{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}
		
		<ul class="news-list">
		    {{ range .Paginator.Pages }}
		    <li class="news-item">
                <a href="{{ .RelPermalink }}" class="news-item__image">
                    {{ $featuredImage := (resources.Get (printf "%s" ("cover/cover.jpg" | safeURL))) }}
                    
                    {{ if .Params.featured_image }}
                        {{ $featuredImage = .Resources.GetMatch (.Params.featured_image.src | safeURL)  }}
                    {{ end }}
                    {{ $featuredImage := $featuredImage.Resize "450x" }}
                    <figure>
                        <img alt="" src="{{ $featuredImage.RelPermalink }}" />
                        {{ with .Params.featured_image.caption }}
                        <figcaption>{{ . }}</figcaption>
                        {{ end }}
                    </figure>
                </a>
                <div class="news-item__content">
                    <h2 
                        class="news-item__title"
                    >
                        <a
                            href="{{ .RelPermalink }}"
                        >
                        {{.Title }}
                        </a>
                    </h2>
                    <p class="news-item__date">
                        {{ $date := .Date.Format "2006-01-02"  }}
                        <time datetime="{{ $date }}">
                            {{ time.Format "2 January 2006" $date }}
                        </time>
                    </p>
                    <div class="news-item__summary">
                        {{ .Summary }}...
                    </div>
                </div>
		    </li>
		    {{ end }}
		</ul>
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
