{{ define "main" }}
	<main class="page-container">
		<article class="article">
			<h1>{{ .Title }}</h1>

            {{ if .Date }}
            <div class="article__date">
                Publié le
                {{ $date := .Date.Format "2006-01-02" }}
                <time date="{{ $date }}">{{ time.Format "2 January 2006" $date }}</time>
            </div>
            {{ end }}
    

            {{ if .Params.featured_image }}
            {{ $featuredImage := .Resources.GetMatch (.Params.featured_image.src | safeURL)  }}
            {{ if $featuredImage }}
                {{ $featuredImage = $featuredImage.Resize "600x" }}
                <figure class="article__featured-image">
                    <img alt="" src="{{ $featuredImage.RelPermalink }}" />
                    {{ with .Params.featured_image.caption }}
                    <figcaption>{{ . }}</figcaption>
                    {{ end }}
                </figure>
            {{ end }}
            {{ end }}

            {{ range .Params.tags }}
               <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
			<div>
				{{ .Content }}
			</div>
		</article>
	</main>
{{ end }}
