*[cuttext-span]{
    opacity:1;
    transform: translateY(0);
    transition: all .5s ease;
}
*[cuttext-span="hidden"]{
    opacity:0;
    transform: translateY(10px);
    transition: all .5s ease;
}
