$responsive-small: 475px;
$responsive-medium: 1050px;
$responsive-interlarge: 1400px;
$responsive-large: 1500px;


@import "tailwind.min";
@import "robotocss";
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

@import "variables";

@import "helpers/container";
@import "helpers/link";
@import "helpers/card";
@import "helpers/divider";
@import "helpers/button";
@import "layouts/fonts";
@import "layouts/header";
@import "layouts/articles";
@import "layouts/body";
@import "layouts/partner";
@import "layouts/team";
@import "layouts/cover";
@import "layouts/footer";
@import "layouts/photos";
@import "layouts/error";
@import "layouts/drawer";
@import "layouts/transitions";
@import "layouts/contact-card";
@import "layouts/map";
@import "layouts/partners_per_compet";

/* ===== Scrollbar CSS ===== */
  /* Firefox */
//   * {
//     scrollbar-width: thin;
//     scrollbar-color: #2980b9 #c7c7c7;
//   }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    z-index: 10;
    right:0;
  }

  *::-webkit-scrollbar-track {
    display: none;
  }
  *::-webkit-scrollbar-track-piece{
    display: none;
  }
  *::-webkit-scrollbar-thumb {
    background: #3498db;
    border-radius: 5px;
  }
  *::-webkit-scrollbar-thumb:hover{
    background: #2980b9;
  }
