@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url(/v20.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(/v34.ttf) format('truetype');
}
