{{ define "main" }}
<div>
    <div class="cover">
      <div class="cover-back"></div>
      <div class="cover-container">
        <div class="container mx-auto">
          <div class="cover-title">
            <h1>{{ site.Params.blog.title }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container mx-auto">
        <div class="blog-title-container py-2">
          <h2 class="index-icon-title blog-title">
            <i class="fa fas fa-newspaper"></i>
            {{ site.Params.articles.all }}
          </h2>
        </div>

        <div class="mt-4">
	    {{partial "articles.html" (dict "Paging" true "context" . "ammount" 9 "pagination" true) 5}}
        </div>

        <div class="mt-6 pt-2 blog-pagination">
          <div class="blog-pagination-previous">
            <a
              class="button button-primary mobile-icon {{ if (not .Paginator.HasPrev) }}disabled{{end}}"
	      {{ if (not .Paginator.HasPrev) }}disabled{{end}}
	      href="{{ if .Paginator.HasPrev}}{{.Paginator.Prev.URL}}{{ end }}">
              <div class="button-icon">
                <i class="fa fas fa-arrow-left"></i>
              </div>
              <div class="link button-text">
                {{ site.Params.previous }}
              </div>
            </a>
          </div>
          <div class="blog-pagination-current">
              Page {{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}
          </div>
          <div class="blog-pagination-next">
            <a
              class="button button-primary mobile-icon {{ if (not .Paginator.HasNext) }}disabled{{end}}"
	      {{ if (not .Paginator.HasNext) }}disabled{{end}}
	      href="{{ if .Paginator.HasNext }}{{.Paginator.Next.URL }}{{end}}">
              <div class="link button-text">
                {{ site.Params.next }}
              </div>
              <div class="button-icon">
                <i class="fa fas fa-arrow-right"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{{ end }}
