<!-- :class="{'not-complete' : $store.state.headerComplete === false}" -->
<div
  id="header"
  class="header"
>
  <div class="header-container container mx-auto">
    <a
      href="/"
      class="link">
      <div class="header-title-container">
        <div class="header-logo">
          {{ $image := resources.Get "images/logo.png" }}
          <img
            src="{{ $image.RelPermalink }}"
            class="logo">
        </div>
        <div class="header-title">
	    <div class="header-title-title">{{ .Site.Title }}</div>
	    <div class="header-sub-title">{{ .Site.Params.slogan }}</div>
        </div>
      </div>
    </a>
    <div class="header-nav-responsive-button-container">
      <div
        class="header-nav-responsive-button"
      >
        <i class="fa fas fa-bars"></i>
      </div>
    </div>
    <div class="header-nav">
	{{ range .Site.Menus.main.ByWeight }}
      <div class="header-nav-item">
        <a
		href="{{ .URL }}"
		class="link{{ if .Params.customClass }} {{ .Params.customClass }}{{ end }}">{{ .Title }}</a>
      </div>
      {{ end }}
    </div>
    <div class="header-locale-container">
	{{ partial "locales-list.html" }}
    </div>
  </div>
</div>
