<meta charset="utf-8">
<script defer src="//api.cybergamma.group/analytics.php?path={{ .RelPermalink }}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="{{ if page.Description }}{{ page.Description }}{{ else }}{{ site.Params.description }}{{ end }}">

{{- with .Site.Params.author -}}
<meta name="author" content="{{ . }}">
{{ end }}

{{/*- $title := partialCached "data/title" . .RelPermalink -*/}}
{{ $title := (printf "%s - %s" .Title .Site.Title) }}
<title>{{ $title }}</title>

<link rel="canonical" href="{{ .Permalink }}">

{{ partial "opengraph/include.html" . }}

{{ range .AlternativeOutputFormats }}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end }}

{{ with .Site.Params.favicon }}
<link rel="shortcut icon"  href="{{ . }}" />
{{ end }}

<!-- Note: j'ai galérer à rajouter du scss car en fait y'avait déja une variable $style de définit plus haut... -->
{{ $style := resources.Get "scss/main.scss" | resources.ToCSS  | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

