{{ define "main" }}
<main class="page-container">
    <div>
	<div class="cover">
	    <div class="cover-back"></div>
	    <div class="cover-container">
		<div class="container mx-auto">
		    <div class="cover-title">
			<h1>{{ .Site.Params.landing.title | safeHTML }}</h1>
		    </div>
		</div>
	    </div>
	</div>
	<div class="content">
	    <div class="container mx-auto">
		<div class="flex flex-wrap justify-between">
		    <div class="w-full md:w-1/2">
			<div class="card card-red no-title mx-2">
			    <div class="card-text">
				{{ partial "articles.html" (dict "context" . "ammount" 1)}}
			    </div>
			    <div class="card-actions">
				<a href="{{ relLangURL "/blog" }}" class="card-action">
				    {{ .Site.Params.more | safeHTML }}
				</a>
			    </div>
			</div>
		    </div>
		    <div class="w-full md:w-1/2">
			<div class="card no-actions card-blue mx-2">
			    <div class="card-title">
				<i class="fa fas fa-arrow-circle-right"></i> {{ .Site.Params.landing.edito.title | safeHTML }}
			    </div>
			    <div
				    class="card-text">
				{{ .Site.Params.landing.edito.content | safeHTML }}
			    </div>
			</div>
		    </div>
		    <div class="w-full md:w-1/2 ">
			<div class="card card-purple mx-2">
			    <div class="card-title">
				<i class="fa fas fa-arrow-circle-right"></i> {{ .Site.Params.landing.mission.title | safeHTML }}
			    </div>
			    <div
				    class="card-text">
				{{ .Site.Params.landing.mission.content | safeHTML }}
			    </div>
			    <div class="card-actions">
				<a
					href="{{ relLangURL "/about" }}"
					class="card-action">
				    {{ .Site.Params.landing.mission.action | safeHTML }}
				</a>
			    </div>
			</div>
		    </div>
		    <div class="w-full md:w-1/2">
			<div class="card card-green mx-2">
			    <div class="card-title">
				<i class="fa fas fa-arrow-circle-right"></i> {{ .Site.Params.landing.support.title | safeHTML }}
			    </div>
			    <div
				    class="card-text">
				{{ .Site.Params.landing.support.content | safeHTML }}
			    </div>
			    <div class="card-actions">
				<a
					href="{{ relLangURL "/donate" }}"
					class="card-action">
				    {{ .Site.Params.landing.support.action | safeHTML }}
				</a>
			    </div>
			</div>
		    </div>
		</div>
		<div class="divider my-5"></div>
		<h2 class="index-icon-title py-2 mb-5">
		    <i class="fa fas fa-newspaper"></i>
		    {{ .Site.Params.articles.last | safeHTML }}
		</h2>
		{{ partial "articles.html" (dict  "context" . "ammount" 9)}}
		<div class="index-more-section">
		    <a
			    href="{{ relLangURL "/blog" }}"
			    class="mt-3 link button button-primary">
			<div class="button-icon">
			    <i class="fa fas fa-plus-square"></i>
			</div>
			<div class="button-text">{{ .Site.Params.more | safeHTML }}</div>
		    </a>
		</div>
		<div class="clear-fix"></div>
	<!--	<div class="divider mt-4 mb-5"></div>
		<h2 class="index-icon-title py-2 mb-5">
		    <i class="fab fa-instagram"></i>
		    {{ .Site.Params.photos.last | safeHTML }}
		</h2>
		{{ partial "photos.html" (dict "limit" 4) }}
		<div class="index-more-section">
		    <a
			    href="{{ relLangURL "/photos" }}"
			    class="mt-3 link button button-primary">
			<div class="button-icon">
			    <i class="fa fas fa-plus-square"></i>
			</div>
			<div class="button-text">{{ .Site.Params.more | safeHTML }}</div>
		    </a>
		</div>
		<div class="clear-fix"></div>-->
		<div class="divider my-5"></div>
		<div class="partners-quick flex flex-wrap">
		    <div class="partner-quick-title partner-item w-full">
			<h3 class="partner-quick-title py-2 mb-2">
			    {{ index .Site.Params.partners "support-us" | safeHTML }}
			</h3>
		    </div>
		    {{ range .Site.Data.partners.partners }}
		    <a href="{{ relLangURL (printf "%s%s" "/partners#" .id) }}" title="{{ .Name }}" class="partner-item link {{ if .class }}{{ .class}}{{ else }}w-1/2 md:w-1/5{{ end }}">
			<img src="{{ if .realimg }}{{ .realimg }}{{ else }}/proxyPhotos?code=/{{ .img }}{{ end }}"/>
		    </a>
		    {{ end }}

		</div>
	    </div>
	</div>
    </div>
</main>
{{ end }}
